.sign-form__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    margin: 60px 0 20px;
    text-align: center;
}